<% provide(:title, 'Contact') %>
<h1>Contact</h1>
	<div>
		<ul>
			<p>Alex Lucero</p>
			<p>Email: A.lucero2892@gmail.com</p>
		</ul>
	
<p>
Ariana Romano</p>
<p>Email: Arianaromano10@gmail.com
</p>
<p>
Kevin Hollie</p>
<p>Email: khollie2014@gmail.com
</p>