<div class="center hero-unit">
  <h1>Welcome to Pressfrwrd</h1>

  <h2>
   We are the start of something new. A place to bring your wild ideas out to the public, and interact with others who want to press their ideas forward.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

