<div class="similiar-page">
<div id="idea" class="original-idea">
    <%= render partial: 'idea', object: @idea %>
</div>

<div class="similiar-ideas-part">
 <div class="similiar-ideas">
  <div class="similiar-heading">
    <h3 class="similiar-title">Similiar ideas</h3>
  </div>
  <div class="similiar-body" id="ideas">
      <%= render partial: 'idea_in_list', collection: @similiar_ideas, as: :idea, locals: {original_idea: @idea} %>
      <%= paginate @similiar_ideas %>
  </div>
 </div>
</div>

</div>
