<div id="micropost">
    <%= render partial: 'shared/feed_item', object: @micropost %>
</div>

<h2>Similiar posts:</h2>

<div id="microposts" class="similiar">
<%= render partial: 'shared/feed_item', collection: @microposts %>
<%= paginate @microposts %>
</div>
