@import "bootstrap";


form.user {
    @extend .form-horizontal;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    .btn.post {
        @extend .btn-large;
        @extend .btn-primary;

        @extend .col-md-3;
        @extend .col-md-offset-4;
    }
    div.form-group {
        label.control-label {
            @extend .col-md-4;
        }
        input.form-control {
            @extend .col-md-5;
        }
    }
    div.signin.form-group {
        input.signin-button {
            @extend .btn;
            @extend .btn-large;
            @extend .btn-primary;
            @extend .col-md-4;
            @extend .col-md-offset-4;
        }
    }
}
